

body{ 
    align-items: center;
    text-align: center;
    background: #313337;
    color: lavender;
    height: 100vh;
    display: flex;
    justify-content: center;


}

.exito_pago a { 
    color: #7ACC2D;

}
